* {
    font-size: 12px;
}

.hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }

.warning {
    background-color: #ffc;
}

.danger {
    background-color: #fcc;
}

table {
    width: 300px;
}

<!-- GOOGLE COPYRIGHT -->
.button{
    color: white;
    background-color: #DB4437;
    border-radius: 50%;
    border: medium none;
    bottom: 24px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
    cursor: pointer;
    height: 56px;
    position: fixed;
    transition-duration: 0.25s;
    transition-property: background-color, box-shadow;
    right: 24px;
    width: 56px;
    z-index: 2;
}

.login {
	background-image: url("//lh5.googleusercontent.com/-KJxGVIaAO7s/AAAAAAAAAAI/AAAAAAAAAAA/eKXLr0sJ35g/s32-c/photo.jpg");	
    background-size: 32px 32px;
    border-radius: 50%;
    display: block;
    height: 32px;
    width: 32px;
    margin: -1px;	
}

#new-place {
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    background-color: white;
    padding: 10px;
    font-family: Roboto, Arial;
    font-size: 13px;
    margin: 15px;
    position: absolute;
    right: 114px;
    top: -8px;
    color:black;
}

#new-place-form {
    <!--display: none;-->
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    background-color: white;
    padding: 10px;
    font-family: Roboto, Arial;
    font-size: 12px;
    margin: -36px;
    position: absolute;
    right: 50px;
    top: 81px;
}

.textbox {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    width:200px;
}