.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.container {
    width: 350px;
}

.col-md-offset-3 {
    margin-left: 0;
}

.col-md-6 {
    width: 100%;
}

.input-group-addon {
    background-color: #31708f;
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}

.my-btn {
    background-color: #31708f;
    color: white;
}

.form-control:focus {
    background-color: #d9edf7;
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}