select.multiLanguages option {
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-left: 30px;
}

select#multiLanguages option[value="en"] {
    background-image: url(../flags/england.png);
}

select#multiLanguages option[value="fr"] {
    background-image: url(../flags/france.png);
}

select#multiLanguages option[value="vn"] {
    background-image: url(../flags/vietnam.png);
}
