<tr>
    <td>Ảnh chụp:</td>
    <td><input type="file" name="file" id="file" accept="image/*"></td>
</tr>
<tr>
    <td>Trang web</td>
    <td><input id="referenceUrl" name="referenceUrl" type="text" size="30"
               placeholder="nhập đường link tới trang web"></td>
</tr>
<tr>
    <td>Điện thoại</td>
    <td><input id="telephone" name="telephone" type="text" size="30" placeholder="điện thoại liên hệ"></td>
</tr>
<tr>
    <td>Email</td>
    <td><input id="email" name="email" type="text" size="30" placeholder="địa chỉ thư email"></td>
</tr>
<tr>
    <td>Thông tin chung:</td>
    <td><textarea id="information" name="information" rows="2" cols="30"
                  placeholder="nhập thông tin chi tiết"></textarea></td>
</tr>


<tr>
    <td>Giờ mở cửa</td>
    <td><input id="openTime" name="openTime" type="text" size="30" placeholder="nhập giờ mở cửa"></td>
</tr>